on early-init

    setprop persist.service.hdb.enable true

on init

    mkdir /dev/cpuctl
    mount cgroup none /dev/cpuctl cpu,ionice
    chown system system /dev/cpuctl
    chown system system /dev/cpuctl/tasks
    chmod 0666 /dev/cpuctl/tasks
    write /dev/cpuctl/cpu.shares 1024
    write /dev/cpuctl/cpu.rt_runtime_us 800000
    write /dev/cpuctl/cpu.rt_period_us 1000000
    write /dev/cpuctl/ionice.prio 16388

    chown system system /dev/flp
    chmod 0660 /dev/flp

on load_all_props_action
    load_all_props
    start logd
    start logd-reinit

on cust_parse_action
    cust_parse

on update_oem_version_action
	update_oem_version

on late-init
    trigger cust_parse_action
    trigger update_oem_version_action

on post-fs-data

    mkdir /data/misc/radvd 0770 root root
    mkdir /data/misc/dhcp6s 0770 root root

    mkdir /data/drm/rights 0770 drm drm
    mkdir /data/drm/widevine 0770 drm drm

on boot

    chown system system /sys/bus/platform/drivers/huawei,camcfgdev/guard_thermal

    chmod  0660  /sys/devices/platform/fingerprint/read_image_flag
    chown  system  system  /sys/devices/platform/fingerprint/read_image_flag
    chmod  0660  /sys/devices/platform/fingerprint/nav
    chown  system  system  /sys/devices/platform/fingerprint/nav

    setprop hifi.watchdog.come false

service fingerprintd /system/bin/fingerprintd
    class late_start
    user system
    group input
